In [ ]:
pip install DeepMIMO

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: DeepMIMO in /usr/local/lib/python3.7/dist-packages (0.97)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from DeepMIMO) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from DeepMIMO) (4.64.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from DeepMIMO) (1.4.1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

In [ ]:
import numpy as np

In [ ]:
import DeepMIMO
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt

In [ ]:
parameters = DeepMIMO.default_params()
pprint(parameters)

{'OFDM': {'RX_filter': 0,
          'bandwidth': 0.05,
          'subcarriers': 512,
          'subcarriers_limit': 64,
          'subcarriers_sampling': 1},
 'OFDM_channels': 1,
 'active_BS': array([1]),
 'bs_antenna': {'radiation_pattern': 'isotropic',
                'shape': array([1, 8, 4]),
                'spacing': 0.5},
 'dataset_folder': './Raytracing_scenarios',
 'dynamic_settings': {'first_scene': 1, 'last_scene': 1},
 'enable_BS2BS': 1,
 'num_paths': 5,
 'row_subsampling': 1,
 'scenario': 'O1_60',
 'ue_antenna': {'radiation_pattern': 'isotropic',
                'shape': array([1, 4, 2]),
                'spacing': 0.5},
 'user_row_first': 1,
 'user_row_last': 1,
 'user_subsampling': 1}

In [ ]:
# For time-domain channels, set
parameters['activate_OFDM'] = 0

In [ ]:
# Scenario O1_60 extracted at the dataset_folder
parameters['scenario'] = 'O1_3p4'
parameters['dataset_folder'] = r'/content/drive/MyDrive'

parameters['num_paths'] = 3

# User rows 1-100
parameters['user_row_first'] = 1100
parameters['user_row_last'] = 1110

# Activate only the first basestation
parameters['active_BS'] = np.array([6]) 

parameters['OFDM']['bandwidth'] = 0.05 # 50 MHz
parameters['OFDM']['subcarriers'] = 128 # OFDM with 512 subcarriers
parameters['OFDM']['subcarriers_limit'] = 4 # Keep only first 8 subcarriers

parameters['ue_antenna']['shape'] = np.array([1, 2, 1]) # Single antenna
parameters['bs_antenna']['shape'] = np.array([1, 128, 1]) # ULA of 32 elements

In [ ]:
dataset_1650 = DeepMIMO.generate_data(parameters)
dataset_1650[0]['user']['channel'].shape

Basestation 6

UE-BS Channels

Reading ray-tracing: 100%|██████████| 200910/200910 [00:01<00:00, 161094.41it/s]
Generating channels: 100%|██████████| 1991/1991 [00:00<00:00, 3717.10it/s]

BS-BS Channels

Reading ray-tracing: 100%|██████████| 6/6 [00:00<00:00, 14614.30it/s]
Generating channels: 100%|██████████| 1/1 [00:00<00:00, 81.62it/s]

(1991, 2, 128, 4)

(Users, Number of each user's antenna, BS antennas, Subcarriers)

In [ ]:
a = dataset_1650[0]['user']['channel']
a.shape

(1991, 2, 128, 4)

In [ ]:
N, H, W, R = a.shape

In [ ]:
a = np.reshape(a, (N,H*W*R))

In [ ]:
a.shape

(1991, 1024)

In [ ]:
b = a*1000000

In [ ]:
b_real = b.real

In [ ]:
b_img = b.imag

In [ ]:
b_real.shape

(1991, 1024)

In [ ]:
b = np.concatenate((b_real, b_img), axis = 1)

In [ ]:
b.shape

(1991, 2048)

In [ ]:
import pandas as pd

In [ ]:
BS6_1650 = pd.DataFrame(b)

In [ ]:
BS6_1650

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,4.984598,6.712967,5.996637,3.021013,-3.989819,-6.804139,-6.800004,-4.303416,1.564538,6.509620,...,8.891878,12.922327,11.177475,6.497373,-1.923966,-9.699038,-9.703032,-9.859069,-4.711063,3.348825
1,-1.701641,6.921174,11.563729,10.354230,9.081828,-0.534325,-9.345466,-13.031431,-14.521824,-7.602461,...,-1.074893,1.845379,4.435579,3.280266,1.283910,-1.005672,-5.723236,-4.719713,-2.124194,0.760990
2,-15.571519,-13.445913,-4.338899,7.017733,11.106980,15.448277,11.849205,2.001206,-3.458882,-12.031251,...,-4.025341,4.177705,8.456237,12.664760,10.204368,2.580993,-1.401413,-9.826475,-13.045435,-9.407323
3,1.091852,-6.503527,-11.588715,-11.210070,-4.717007,1.305937,7.482914,10.717397,5.902429,1.924329,...,-9.989213,-10.101300,-5.181172,-0.166993,5.686601,9.303350,5.480586,3.046245,-1.404039,-5.962843
4,4.283194,-0.231102,-4.323882,-6.702392,-7.238913,-2.214071,3.102516,6.619846,10.589575,6.369769,...,-6.031956,-4.866324,-3.546931,2.537196,6.676125,7.251146,8.637443,2.280012,-4.584017,-8.543740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,7.304843,-0.141466,-7.666196,-12.659387,-7.890593,-1.015714,6.343467,11.638786,8.302423,2.053478,...,4.033905,7.882780,5.542016,1.707991,-2.906991,-6.695507,-5.332912,-2.196741,1.889714,5.510882
1987,3.568855,-0.529471,-4.284801,-6.448101,-4.483644,-0.051496,4.239501,6.948605,5.459022,0.755353,...,5.180394,8.260356,5.806404,0.267060,-5.199099,-8.781297,-6.731890,-0.894869,5.084838,9.212272
1988,-4.844222,4.359343,12.061645,15.631334,6.067407,-3.108472,-11.219570,-15.491996,-7.231373,1.829609,...,-17.935527,-17.634364,0.747162,11.034649,17.558350,18.097981,0.682274,-9.852503,-17.034277,-18.413988
1989,0.590832,-3.749559,-6.944873,-7.846441,-1.012687,2.973452,6.088486,7.215169,1.311102,-2.279992,...,10.687968,6.593103,-6.909194,-10.293526,-10.257620,-6.722782,6.031628,9.443809,9.739085,6.725371
1990,-0.343969,-5.108003,-8.010697,-8.130255,-0.375915,4.893285,8.371633,8.934606,1.196057,-4.548245,...,7.483674,5.584667,-4.128642,-7.470440,-8.253206,-6.310479,4.121626,7.936262,9.020326,7.103728

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
scaler = MinMaxScaler(feature_range=(-1, 1))
minmax_df = scaler.fit_transform(BS6_1650)

In [ ]:
minmax_df = pd.DataFrame(minmax_df)
minmax_df

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.285416,0.402601,0.337543,0.158854,-0.220322,-0.401434,-0.366258,-0.224840,0.081260,0.371472,...,0.421324,0.621841,0.536998,0.312274,-0.093550,-0.459885,-0.468721,-0.466675,-0.214357,0.161103
1,-0.082604,0.414211,0.646694,0.568244,0.504117,-0.054141,-0.504752,-0.707382,-0.813665,-0.401027,...,-0.054821,0.091904,0.214313,0.158850,0.060474,-0.046091,-0.278837,-0.222890,-0.090326,0.038076
2,-0.846022,-0.721430,-0.236409,0.381978,0.616352,0.831157,0.648415,0.123721,-0.198205,-0.643460,...,-0.195773,0.203485,0.406752,0.606397,0.488784,0.124630,-0.072633,-0.465128,-0.613960,-0.445328
3,0.071154,-0.334332,-0.639006,-0.635622,-0.260623,0.047794,0.410852,0.605609,0.322588,0.120472,...,-0.480687,-0.479643,-0.245970,-0.005551,0.271866,0.444607,0.255722,0.145487,-0.055797,-0.281577
4,0.246810,0.015410,-0.235576,-0.383973,-0.400388,-0.147184,0.172522,0.379070,0.583346,0.363816,...,-0.291636,-0.229194,-0.167751,0.123412,0.319378,0.346924,0.406342,0.109141,-0.208266,-0.404273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,0.413125,0.020408,-0.421181,-0.716533,-0.436505,-0.080805,0.348857,0.656549,0.456106,0.127542,...,0.189243,0.380742,0.267270,0.083868,-0.140750,-0.316920,-0.260213,-0.103213,0.102127,0.263888
1987,0.207491,-0.001227,-0.233405,-0.369776,-0.247690,-0.027396,0.234384,0.397245,0.297920,0.056482,...,0.244015,0.398805,0.279924,0.015149,-0.250804,-0.416202,-0.326962,-0.041459,0.255321,0.439853
1988,-0.255576,0.271367,0.674344,0.862848,0.337056,-0.196726,-0.606719,-0.843418,-0.408078,0.115287,...,-0.860309,-0.840036,0.037776,0.528657,0.841881,0.863221,0.026784,-0.466363,-0.805211,-0.873508
1989,0.043577,-0.180775,-0.381124,-0.447841,-0.055327,0.140160,0.334984,0.411983,0.067161,-0.109674,...,0.507130,0.319042,-0.328677,-0.488486,-0.493686,-0.318219,0.282013,0.448955,0.478476,0.321625
1990,-0.007876,-0.256520,-0.440312,-0.463686,-0.020037,0.246502,0.459206,0.507045,0.060761,-0.233838,...,0.354050,0.270796,-0.195593,-0.353853,-0.397445,-0.298593,0.190883,0.377445,0.444014,0.339612

In [ ]:
# scaler = MinMaxScaler()
# scaler.fit(BS6_1650)

In [ ]:
# BS6_1650_scaled_features = scaler.transform(BS6_1650)

In [ ]:
# BS6_1650_scaled_features=pd.DataFrame(BS6_1650_scaled_features)
# BS6_1650_scaled_features

In [ ]:
minmax_df.to_csv('/content/drive/MyDrive/BS6_1100_scaled_features.csv')

In [ ]:
''' BS6_3842_3852 = (905, 2, 128, 4) '''
''' BS6_3853_3860 = (1083, 2, 128, 4) '''
''' BS6_1650_1660 = (1086, 2, 128, 4) '''
''' BS6_1100_1110 = (1086, 2, 128, 4) '''

' BS6_1100_1110 = (1086, 2, 128, 4) '