<a href="https://colab.research.google.com/github/mohammad-hosein/AS_scenario/blob/main/DS_Label.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
BS6_3848_3852 = pd.read_csv('/content/drive/MyDrive/BS6_3842_scaled_features.csv')
BS6_3853_3855 = pd.read_csv('/content/drive/MyDrive/BS6_3853_scaled_features.csv')
BS6_1650_1655 = pd.read_csv('/content/drive/MyDrive/BS6_1650_scaled_features.csv')
BS6_1100_1110 = pd.read_csv('/content/drive/MyDrive/BS6_1100_scaled_features.csv')

In [ ]:
BS6_3848_3852['antenna_subset'] = int(0)
BS6_3853_3855['antenna_subset'] = int(1)
BS6_1650_1655['antenna_subset'] = int(2)
BS6_1100_1110['antenna_subset'] = int(3)

In [ ]:
BS6_1650_1655.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,antenna_subset
0,0,-0.773543,-0.603217,-0.293065,0.085564,0.156093,-0.225817,-0.552540,-0.756673,0.646236,...,-0.648051,0.688117,0.596341,0.368971,0.059176,-0.261361,0.065844,0.373942,0.598180,2
1,1,0.252708,0.574069,0.768381,0.786646,-0.796025,-0.750336,-0.529968,-0.191979,0.417783,...,-0.149485,0.342058,0.029447,-0.287116,-0.538463,0.387185,0.603379,0.680159,0.601528,2
2,2,0.733994,0.495050,0.146128,-0.235180,-0.008441,0.363200,0.656315,0.800854,-0.727669,...,0.483473,-0.320609,-0.560369,-0.668765,-0.627793,0.668270,0.578506,0.354153,0.049197,2
3,3,-0.427272,-0.698849,-0.812361,-0.739902,0.806455,0.672988,0.391345,0.020198,-0.265560,...,0.638135,-0.664010,-0.602748,-0.401407,-0.111602,0.303749,0.002765,-0.306056,-0.543815,2
4,4,-0.619299,-0.310258,0.070781,0.436356,-0.205248,-0.546421,-0.761389,-0.809836,0.799551,...,0.153536,-0.340453,-0.048942,0.255906,0.503525,-0.352067,-0.560072,-0.651997,-0.593354,2

In [ ]:
# BS2_R1650_1750 = BS2_R1650_1750.drop(['Unnamed: 0'], axis=1)
# BS2_R2200_2300 = BS2_R2200_2300.drop(['Unnamed: 0'], axis=1)
# BS2_R550_R660 = BS2_R550_R660.drop(['Unnamed: 0'], axis=1)

In [ ]:
LOW = pd.DataFrame()

In [ ]:
LOW = LOW.append(BS6_3848_3852)

In [ ]:
LOW.to_csv('/content/drive/MyDrive/LOW.csv')